/* Write your CSS here */
.bg-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  padding: 20px;
  border-radius: 15px;
}

.heading {
  font-family: 'Roboto';
  color: #475569;
  font-size: 30px;
}

.heading-2 {
  font-family: 'Roboto';
  color: #475569;
  font-size: 25px;
  margin-bottom: 10px;
}

.paragraph {
  font-family: 'Roboto';
  color: #475569;
  font-size: 15px;
}

.money-manager {
  color: #0b69ff;
}

.bottom-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 30px;
  border: 1px solid #cbd5e1;
  margin-left: 30px;
}

.label {
  font-family: 'Roboto';
  color: #334155;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 4px;
  margin-left: 4px;
}

.input {
  border: 1px solid #cbd5e1;
  height: 40px;
  font-family: 'Roboto';
  padding-left: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 250px;
  outline: none;
}

button {
  background-color: #0b69ff;
  color: white;
  border: 0px;
  border-radius: 10px;
  height: 35px;
  width: 70px;
  font-family: 'Roboto';
}

.history-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  border-radius: 15px;
  padding: 30px;
  width: 500px;
  border: 1px solid #cbd5e1;
  margin-left: 30px;
}

.transactions-table {
  padding-left: 0;
  margin: 0px;
}

.table-header {
  display: flex;
  align-items: center;
  height: 48px;
  list-style-type: none;
  border: 1px solid #cbd5e1;
  padding-left: 10px;
  padding-right: 10px;
}

.table-header-cell {
  color: #334155;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  width: 30%;
  border-right: none;
}
